
  /* header styles */
.header-block{
    /* max-width: 81em; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    height: 55px;
    background-color: #35885633;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    position: relative;
}
.logo {
font-size: 42px;
font-weight: 700;
color: #25523B;
margin-left: 30px;
font-family: 'Lobster', cursive;
}
.logo span{
    color: #25523B;
}
.plantdec{
    opacity: 0.4;
     position: absolute;
     top:70px; 
     left: 0px;
 }
.flex{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
}
.nav-ul-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fa-bars{
    display: none;
}
.nav-li-item{
        margin-right: 23px;
        
      
       
     }
.nav-li-item a{
  
    color: #25523B;
    font-weight: 500;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Lobster', cursive;
   
}
.login{
    width: 100px;
    height: 35px;
    background-color: #25523B;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    margin-left: 10px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Lobster', cursive;
}
.login-div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* main styles */
/* section01 */
.parent-div-sec01{
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
}
.left-block01{
    max-width: 40rem;
    width: 100%;
    margin-right: 30px;
}
.left-title01{
    font-size: 30px;
    color: #25523B;
    font-weight: 700;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Lobster', cursive;
   
}
.left-title02{
    font-size: 60px;
    color: #25523B;
    font-weight: 700;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Lobster', cursive;
}
.left-block01-text{
    font-size: 18px;
    color: #000000;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Lobster', cursive;
}
.right-block01{
    max-width: 28.1rem;
    width: 100%;
   

}
.right-block01-img{
    width: 100%;
}
.line{
    border: 1px solid #25523B; 
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
 
}
/* .border-text{
    color: #25523B;
} 
.border-text span{
    font-size: 25px;
} */
/* .border{
    display: flex;
} */
/* section02 */
.section02-title{
    font-size: 25px;
    font-weight: 700;
    color: #25523B;
   margin: 0 auto;
   /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
   font-family: 'Lobster', cursive;
}
.parent-div-sec02-res{
    display: none;
}
.wrapper{
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/* .section02-rightBlock-img{
max-width: 400px;
width: 80%;
} */
/* img */
.frame0{
    width: 100%;
}
/* value */
.flex-sec02{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.line-through{
    text-decoration: line-through;
    color: #979797;
   
}
.fa-dollar-sign {
    margin-left: 8px;
}
.value{
    color: #25523B;
    font-size: 22px;

}
.value-title{
    font-size: 28px;
    color: #25523B;
    font-weight: 600;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Lobster', cursive;
    
}
/* star */
.star{
    color: #FEC600;
}
/* greenbox */
.greenbox{
    width: 297px;
    background-color: #25523B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 8px 0 8px ;
    margin-top: 10px;
}
.section02{
    position: relative;
    padding:  0 30px ;
}
.plantdec03{
    width: 230px;
    position: absolute;
    left: 200px;
    top:90px;
    opacity: 0.2;
}
.plantdec03-2{
    width: 230px;
    position: absolute;
    right: 300px;
    top:90px;
    opacity: 0.2;
}
.greenbox-p-item{
    color: #FFFFFF;
    font-weight: 600;
    /* margin: 11px 6px 11px 11px; */
    margin-bottom: 15px;
}
/* section03 */
.section03-parent{
    background: rgba(224, 233, 148, 0.25);
    max-width: 76rem;
    width: 80%;
    height: 26.625rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 80px;
}
.textcontent  p {
font-size: 20px;
color: #000000;
font-family: 'Lobster', cursive;
margin-bottom: 20px;
}
.textcontent  h3{ 
font-size: 50px;
color:#25523B ;
margin-bottom: 50px;
font-family: 'Indie Flower', cursive;
}
.shop-box{
    background-color: #25523B;
    width: 100px;
    height: 35px;
    color: #FFFFFF;
    font-family: 'Indie Flower', cursive;
    margin: 0 auto;
   opacity: 0.5;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.plantdec02{
    width: 230px;
    position: absolute;
    left: 0;
    top: 0px;
    opacity: 0.4;
}
/* section04 */
.section04{
    padding: 0 15px;
}
.sec04-title{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
   text-align: center;
   margin: 30px;
}
/* .sec04-wrapper1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 60px;
}  */
.sec04-wrapper1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.block h2{
    font-size: 18px;
    font-weight: 600;
    color: #25523B;
    font-family: 'Indie Flower', cursive;
    margin: 10px 0 ;
}
.shop-box2{
    background-color: #25523B;
    width: 100px;
    height: 35px;
    color: #FFFFFF;
    font-family: 'Indie Flower', cursive;
    margin: 8px 0;
}
.block-img{
    width: 80%;
}
.block-rep{
    display: none;
}
/* flex */
.flex-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* hover */
.shop-box:hover{
   opacity: 1;
}
.nav-li-item a:hover{
    color: #FFFFFF;
} 
.shop-box2:hover{
    background-color: #979797;
}
.value-title:hover{
    color: #979797;
}
.login:hover{
    background-color: #fff;
    color: #25523B;
}
.getstarted-box:hover{
    background-color: #979797;
    color: #FFFFFF;
}
.logo:hover{
    color: #FFFFFF;
}
.logo span:hover{
    color: #FFFFFF;
}
.input-value:focus{
    outline: none;
}
.subscribe-button:hover{
    background-color: #c6cdc7;
}
.info-span:hover{
    color: #c6cdc7;
}
.footer-li-item a:hover{
color: #ececec;
}
/* section05 */
.bgimg-05{
  background-image: url(../img/bgimg.png);
   width: 100%;
   height: 23.125rem;
   /* margin: 0 auto; */
     /* text-align: center; */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background-repeat: cover;
}
.getstarted-box{
    background-color: #FFFFFF;
    width: 118px;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Indie Flower', cursive;
    margin: 0 auto;
    color: #25523B;
}
.bgimg-05 h2 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 25px;
     }
 /* section06 */

   .costumers1{
    max-width: 26.875rem;
    width: 40%;
    /* height: 14.375rem; */
  background-color: #c6cdc7;
   padding: 30px;
   margin: 0 10px;
   }
   .costumers12{
    display: none;
    max-width: 26.875rem;
    width: 40%;
  background-color: #c6cdc7;
   padding: 30px;
   margin: 0 10px;
   }
   .freedelivery-text{
      font-size: 40px;
      color: #25523B;
      font-weight: 800;
      font-family: 'Indie Flower', cursive;
   } 
   .freedelivery-div{
    display: none;
   }
   .freedelivery-div span{
    font-size: 60px;
    color: #000000;
    font-weight: 900;
    font-family: 'Indie Flower', cursive;
   } 
   .freedelivery-div span:hover{
    color: #37393F;
   }
   /* .sec06-text{
    height: 140px;
   } */
   .section06-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   }
   .section06-title{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    text-align: center;
   margin-top: 60px;
   color: #25523B;
   }
   .text-conteiner{
    width: 90%;
    margin: 0 auto;
   }
   .text-conteiner p{
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
   } 
   .namestar span{
    font-size: 20px;
    font-weight: 600;
     font-family: 'Indie Flower', cursive;
   color: #FFFFFF;
   }
   .section06-img{
-webkit-box-align: top ;
    -ms-flex-align: top ;
        align-items: top ;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-top: 7px;
   }
   .namestar{
    margin-left: 20px;
   }
   .star06{
    margin: 7px 0 0 10px;
   }
 /* footer */
 .footer-block{
    width: 100%;
    height:21.875rem;
    background-color: #25523B;
    margin-top: 60px;
    padding: 50px;
 }
  .footer-logo{
    font-size: 42px;
font-weight: 700;
color: #ececec;
margin-left: 30px;
font-family: 'Lobster', cursive;
}
.footer-logo span{
    color: #c6cdc7;
}
.icon-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 30px;
    }
.icon{
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color:#ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 10px;
    }
    .fa-phone{
        color: #25523B;
        font-size: 20px;
    }
    .info-span{
          font-size: 18px;
        color: #FFFFFF;
    }
    .text-div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .border-div{
        border: 1px solid #6C6D72; 
        margin: 20px 0;
    }    
    .footer-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer-li-item a{
        font-size: 20px;
        color: #c6cdc7;
    }
    .footer-li-item{
        margin-bottom: 15px;
    }
    .icon-block-text {
        font-family: 'Lobster', cursive;
        font-size: 18px;
        color: #FFFFFF;
    }
    .contact-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .email-box{
        width: 350px;
        height: 150px;
        background-color: #c6cdc7;
        padding: 20px 14px;
       }
       .email-box-title{ 
           font-size: 20px;
           font-weight: 600;
           color: #25523B;
           font-family:'Indie Flower', cursive ;
       }
       .email-box-text{
           font-size: 20px;
           color: #25523B;
           font-family:'Indie Flower', cursive ;
           margin: 15px 0;
       }
       .long-box{
           width: 300px;
           height: 30px;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
       }
       .white-box{
           width: 205px;
           height: 60px;
           background-color: #FFFFFF;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-align: center;
               -ms-flex-align: center;
                   align-items: center;
           -webkit-box-pack: center;
               -ms-flex-pack: center;
                   justify-content: center;
       }
       .purple-box{
           width: 135px;
           height: 60px;
           background-color: #25523B;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-align: center;
               -ms-flex-align: center;
                   align-items: center;
           -webkit-box-pack: center;
               -ms-flex-pack: center;
                   justify-content: center;
       }
       .white-box-text{
           color: #37393F;
           font-size: 18px;
       }
       .purple-box-text{
           font-size: 18px;
           color: #FFFFFF;
       }
      .input-value{
        height: 40px;
        color: #25523B;
        font-size: 18px;
        font-family: 'Indie Flower', cursive;
        border: 1px solid #25523B;
        font-weight:600;
        background-color: #ececec;
      }
      .label-em{
        font-family:'Indie Flower', cursive ;
        font-size: 18px;
        font-weight: 600;
      }
     .subscribe-button{
        height: 40px;
        font-family:'Indie Flower', cursive ;
        background-color: #8e968f ;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid #25523B;
     }
     /* goldenpthos */
    .goldenpot{
        max-width: 31.25rem;
        width: 100%;
    }
     .parent-div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
     }
     .right-block{
        max-width: 46rem;
        width: 90%;
        font-size: 26px;
        font-weight: 500;
        font-family: 'Indie Flower', cursive;
     }
     .right-block h3{
        font-size: 30px;
        font-weight: 700;
     }
     